<div class="container">
  <div class='row'>
    <h1 class="business-header">PDX BIPOC BUSINESSES</h1>
    <div class="col-md-2"></div>
    <div class="col-md-4">
    <h3 class="business-category">Food & Beverage </h4>
      <ul class='no-bullet'>
      <% @food.each do |business| %>
      <li><%= link_to business['name'], "/support/#{business['id']}" %></li>
      <% end  %>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="business-category"> Beauty & Hair </h3>
      <ul class='no-bullet'>
        <% @beauty.each do |business| %>
        <li><%= link_to business['name'], "/support/#{business['id']}" %></li>
      <% end  %>
      </ul>

      <h3 class="business-category"> Healthcare </h3>
      <ul class='no-bullet'>
        <% @health.each do |business| %>
        <li><%= link_to business['name'], "/support/#{business['id']}" %></li>
      <% end  %>
      </ul>

      <h3 class="business-category"> Clothing </h3>
      <ul class='no-bullet'>
        <% @clothing.each do |business| %>
        <li><%= link_to business['name'], "/support/#{business['id']}" %></li>
      <% end  %>
      </ul>

      <h3 class="business-category"> Design </h3>
      <ul class='no-bullet'>
        <% @design.each do |business| %>
        <li><%= link_to business['name'], "/support/#{business['id']}" %></li>
      <% end  %>
      </ul>

      <h3 class="business-category"> Misc </h3>
      <ul class='no-bullet'>
        <% @misc.each do |business| %>
        <li><%= link_to business['name'], "/support/#{business['id']}" %></li>
      <% end  %>
      </ul>

      <h3 class="business-category"> Publishing </h3>
      <ul class='no-bullet'>
        <% @publishing.each do |business| %>
        <li><%= link_to business['name'], "/support/#{business['id']}" %></li>
      <% end  %>
      </ul>
    </div>

    <div class="col-md-2"></div>
    

  </div>  
</div>
<br>