<div class="container">
  <h1 class="text"><%= @business['name'] %></h1>
  <ul>
    <li><%= @business['address'] %></li>
    <li><a href= "<%= @business['link'] %>"><%= @business['link'] %></a></li>
    <li><%= @business['category'] %></li>
  </ul>
</div>