<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PROtester</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

  </head>

  <body>
  <div class="topnav">

    <a href="/pages#index" class="active"><%= image_tag("logo.png", :alt => "" , :class => "logo") %></a>
      
    <div id="myLinks">
      <a href="/tools#index" class="link">PROtester tools</a>
      <a href="/safeties#index" class="link">How to be safe</a>
      <a href="/donations#index" class="link">Donate to the cause</a>
      <a href="/supports#index" class="link">Support those affected</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
    <%= yield %>
  </body>
</html>
