<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PROtester</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

  </head>

  <body>
  <div class="topnav">
    <a href="/" id="home_link" class="active"><%= image_tag("PROtester_logo_no_bg.png", :alt => "" , :class => "logo") %></a>  
    <div id="myLinks">
      <a href="/tools" class="link_tab">Activist Toolkit</a>
      <a href="/safety" class="link_tab">Protest Safety</a>
      <a href="/donate" class="link_tab">Donate</a>
      <a href="/support" class="link_tab">Support BIPOC BUSINESSES</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <div class="filler"></div>
      <i class="fa fa-bars"></i>
      <div class="filler"></div>
    </a>
  </div>



  <%= yield %>
  <div id="footer" class="container">
    <div class="container-fluid">
    <footer>Copyright (c) 2020 Dan Merys, Celeste Field, Tyler Bowerman, Austin Butler & Reid Ashwill</footer>
    </div>
  </div>
  </body>
</html>