<!DOCTYPE html>
<html>
  <head>
    <title>ProtestsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="topnav">
    <a href="/pages#index" class="active">Home</a>
    <div id="myLinks">
      <a href="/tools#index">PROtester tools</a>
      <a href="/safeties#index">How to be safe</a>
      <a href="/donations#index">Donate to the cause</a>
      <a href="/supports#index">Support those affected</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
    <%= yield %>
  </body>
</html>
